.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-container .form-control {
    margin-bottom: 0;
}

.search-container .btn {
    height: 100%;
}

.table {
    margin-top: 20px;
}

.alert {
    margin: 0;
}

.w-100 {
    width: 100%;
}
