html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.img-fluid {
    width: 100vw; 
    height: 100vh; 
    object-fit: cover;
}
